{% extends 'mainapp/base.html' %}

{% load django_bootstrap5 %}

{% block title %}Log In{% endblock title %}
{% block content %}
<p class="text-primary">Log In</p>
<div class="p-3 border border-primary">
<div class="input-group input-group-lg d-flex justify-content-center flex-nowrap">
<form method="post">
    {% csrf_token %}
    <div>{% bootstrap_form form %}</div>
    {% bootstrap_button button_type="submit" content="Login" %}
</form>
</div>
<br>
<div class="container">
<p class='fw-bold'><a href="{% url 'password_reset' %}">Forgotten password?</a></p>
<p>------------- or -------------</p>
<p class='fw-bold'><a href="{% url 'signup' %}">Create new account</a></p>
</div>
</div>
{% endblock content %}