{% extends 'mainapp/base.html' %}

{% block title %}Learn Django{% endblock title %}
{% load django_bootstrap5 %}
{% block content %}
{% for tutorial in tutorial_list %}
<h2 class=text-primary>{{ tutorial.title }}</h2>
 <div class="col">
    <div class="card h-100">
      <div class="card-header">Author: <cite title="Author">{{ tutorial.author }}</cite></div>
      <div class="card-body">
        <p class="card-text">{{ tutorial.main_text_rendered | safe }}</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated {{ tutorial.last_updated }}</small>
      </div>
    </div>
  </div>
</div>
{% empty %}
<p class="lead">This tutorial is currently unavailable. Keep watching this space.</p>
{% endfor %}
{% endblock content %}