{% extends 'mainapp/base.html' %}

{% block title %}Learn Python{% endblock title %}

{% load django_bootstrap5 %}

{% block content %}
<h5 class="text-primary">Click on a topic below</h5>
{% for tutorial in tutorial_list %}
<div class="container">
    <button type="button" class="btn btn-outline-primary mt-3 a-link"><a style="text-decoration: none" href="{% url 'python_tutorial' %}">{{ tutorial.title }}</a></button>
</div>
{% empty %}
<p class="lead">This tutorial is currently unavailable. Keep watching this space.</p>
{% endfor %}
{% endblock content %}