{% extends 'mainapp/base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}
<h1 class="text-primary">About Us</h1>
<p class="lead p-color">Our mission is to help fast track your tech journey
    with Python.</p>
<div class="container justify-custom">
    <p>JournPy is a registered start up that aims to revolutionise the way 
    persons learn coding. Through an integrated learning approach, we create 
    links between various disciplines and coding thus empowering learners with
    dynamic skills that are much needed in today's world.</p>
    <p>At JournPy we believe that learners should be able to actively
        interact with their tutors but we equally believe that the future of
        learning is 100% online. This is why we offer live virtual classes in
        real time instead of pre-recorded lessons.</p>
    <p>JournPy is developed and maintained by 
    <a href="https://journpy.github.io/uche_wealth/">Uchenna Adubasim</a> - 
    a Software Engineer working primarily with Python but also uses other 
    languages from time to time. 
    Uchenna is an active contributor on Stack Oveflow - the 
    number one Q/A site for developers looking for help to technical problems.
    </p>
    <div><a href="https://stackoverflow.com/users/16171413/uchenna-adubasim">
    <img src="https://stackoverflow.com/users/flair/16171413.png" width="208" 
    height="58" alt="profile for Uchenna Adubasim at Stack Overflow, Q&amp;A 
    for professional and enthusiast programmers" title="profile for Uchenna 
    Adubasim at Stack Overflow, Q&amp;A for professional and enthusiast 
    programmers"></a></div>
    <p>
    If you want personalised lessons, you can express your interest using the <a href="{% url 'contact' %}">Contact Form</a>. 
    </p>
</div>
{% endblock content %}