{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Bootcamps{% endblock title %}

{% block content %}
<div class="container justify-custom">
    <img src="{% static 'images/Journ Py Summer.jpg' %}" class="img-fluid" alt="Kiddies Bootcamp">
    <p class="lead p-color fw-bold fst-italic">For children aged 6+.</p>
</div>
<br>
<div class="container justify-custom">
    <img src="{% static 'images/journpy.jpg' %}" class="img-fluid" alt="Python Bootcamp">
    <p class="lead p-color fw-bold fst-italic">For teens and adults of all ages.</p>
</div>
{% if user.is_authenticated and user.course != 'BOOT' %}
<p class="p-color">If you're interested in our Bootcamp, <a href="{% url 'contact' %}">leave us a message</a>.</p>
{% elif user.is_authenticated and user.course == 'BOOT' %}
<a href="{% url 'home' %}">Home</a>
{% else %}
<a href="{% url 'signup' %}">Sign up for a bootcamp.</a>
{% endif %}
{% endblock content %}