{% extends 'mainapp/base.html' %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<h2 class="display-5 fw-bold text-primary">Python is Easy</h2>
<div class="vstack gap-2 col-md-5 mx-auto">
    <!--<img src="{% static 'images/code-geek-2680204_1280.png' %}" class="rounded mx-auto d-block justify-custom"
        alt="image" width="25%" height="auto">-->
    <a class="btn btn-outline-primary" href="{% url 'webdev' %}" role="button">Web Development</a>
    <a class="btn btn-outline-success" href="{% url 'bootcamps' %}" role="button">Bootcamps</a>
    <!-- <button type="button" class="btn btn-outline-warning p-2" disabled>Mathematics</button>-->
</div>
<br>

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/journ py.jpg' %}" class="d-block w-100" alt="Services">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/Journ Py- for web.jpg' %}" class="d-block w-100" alt="Web Development">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/Artboard 1 copy 6@300x-100.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-0">
        <p class="fs-4">Our mission is to help fast track your tech journey with Python.</p>
        <p class="p-color">We offer various programs for learners of various ages from elementary pupils
            to adults.</p>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Python For Web
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <strong>This program is geared towards training fullstack developers with Python.</strong> In
                        this program, you will learn backend development with Python using Django
                        framework. You will learn to style your web app using Bootstrap. It also
                        includes a crash course on Python for those that need it to get you familiar with Python as a
                        prerequisite for learning Django. This program comes with assignments and quizzes with a final
                        project to build and host your blog app. At the end of the program, you will be awarded a
                        certificate of completion. The duration of this program is 3 months.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Python for Mathematics
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <strong>The purpose of this program is to help students learn math through coding in an
                            integrated learning approach that is based on Seymour Papert's theory of
                            Constructionism.</strong> This program is divided into two categories:
                        <ol type="i">
                            <li>Python for Elementary Math</li>
                            <li>Python for Secondary Math</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseThree">
                        Bootcamps
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <strong>Our bootcamp is designed to fast track your transition to tech. You will learn to use
                            Python to automate daily tasks and more.</strong> Our summer bootcamp is here. Register your
                        child/ward for this month long intensive program.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-primary">Sneak Peek</h1>
        <img src="{% static 'images/Screenshot 2024-06-05 012448.png' %}" class="img-fluid" alt="Pizza-Circle">
        <p class="lead p-color">Elementary pupils learn fractions by slicing a pizza (circle) into eight equal parts
            using
            python codes.</p>
        <img src="{% static 'images/Screenshot 2024-06-05 014738.png' %}" class="img-fluid" alt="Pizza-Circle-Codes">
        <p class="lead p-color">This integrated approach to learning math and coding makes JournPy stand out.</p>
    </div>
    <div class="container justify-custom">
        <h1 class="display-4 text-primary text-center">Constructionism</h1>
        <p>
            In the 1980’s, Seymour Papert introduced the term constructionism as a learning model based on the theory of
            constructivism. Constructionism is a learning theory in which students learn by creating shareable
            artefacts.</p>
        <p>It advocates that students can learn better by manipulating objects and creating artefacts at different
            phases of learning. Students learn in a practical and hands-on manner as opposed to the traditional method
            of teaching. According to Papert, the primary tool used in constructionist learning is the computer.</p>
        <p>The computer is the object that learners use to think with as they create personal digital artefacts that
            represents their own learning. Students enjoy constructionist learning because it gives them ownership of
            their learning as they use technology to create their own learning experiences. Constructionism promotes
            time management in learning. It also allows students to learn from their mistakes which is similar to the
            concept of debugging - the act of identifying and correcting errors in a computer program.</p>
        <p class="lead p-color">Our Python for Mathematics program helps students learn math through coding in an
            integrated learning approach that is based on the learning theory of Constructionism. Please see the blog
            section for more on this.</p>
    </div>
    <div class="container justify-custom">
        <h1 class="display-4 text-primary text-center">Web Development</h1>
        <img src="{% static 'images/Journ Py- for web.jpg' %}" class="img-fluid" alt="Web Dev Image">
        <p>Web development skills are in high demand across various industries. Businesses of all sizes need websites
            and web applications, creating ample job opportunities. Web developers often have the flexibility to work as
            freelancers or contractors, offering services to clients globally. We can help you learn Python fullstack
            development with Django and Bootstrap in just 12 weeks! See <a href="{% url 'webdev' %}">Web
                Development</a>.</p>
    </div>
</div>

{% endblock content %}