{% extends 'base.html' %}
{% load static %}
{% block title %}Bootcamps{% endblock title %}

{% block content %}
<div class="container justify-custom">
    <img src="{% static 'images/Summer class Journ py.jpg' %}" class="img-fluid" alt="Kiddies Bootcamp">
    <p class="lead p-color fw-bold fst-italic">For children aged 6+.</p>
</div>
<br>
<div class="container justify-custom">
    <img src="{% static 'images/journpy.jpg' %}" class="img-fluid" alt="Python Bootcamp">
    <p class="lead p-color fw-bold fst-italic">For teens and adults of all ages.</p>
</div>
{% endblock content %}