{% extends 'base.html' %}

{% block content %}
<h2 class="text-primary">{{ post.title }}</h2>
<div class="card mb-3">
    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image.imgname }}">
    <div class="card-body">
        <!--<h5 class="card-title">{{ post.title }}</h5>-->
        <p class="card-text">{{ post.body_rendered | safe }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ post.date_modified }}</small></p>
    </div>
</div>
<div class="card">
    <img src="{{ post.image2.url }}" class="card-img-top" alt="{{ post.image2.imgname }}">
    <div class="card-body">
        <!--<h5 class="card-title">{{ post.title }} continues...</h5>-->
        <p class="card-text">{{ post.body2_rendered | safe }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ post.date_modified }}</small></p>
    </div>
</div>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
    this.page.url = "https://journpy.pythonanywhere.com/post/5/how-i-learnt-sql-in-1-day/";  // page canonical URL variable
    this.page.identifier = "/5/how-i-learnt-sql-in-1-day/"; // page unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://journpy.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock content %}