{% extends 'mainapp/base.html' %}

{% load django_bootstrap5 %}

{% block title %}Sign Up{% endblock title %}
{% block content %}

<div class="signup-card">
<h2 class="text-primary">Sign Up</h2>
<form method="post">
  {% csrf_token %}
{% for field in form %}
  <div class="mb-3">
    <label class="form-label" style="width: 100%;">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
      <div class="text-danger small">{{ field.errors }}</div>
    {% endif %}
  </div>
{% endfor %}
<button type="submit" class="btn btn-sm btn-primary">Sign Up</button>
</form>
</div>

{% endblock content %}