{% extends 'mainapp/base.html' %}

{% block title %}Contact{% endblock title %}

{% load django_bootstrap5 %}
{% block content %}
<!-- Send an email via Django contact form. See https://mailtrap.io/blog/django-contact-form/ -->
<h1 class="text-primary mb-4">Leave us a message</h1>
<form action="{% url 'contact' %}" method="post">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="Submit" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}
</form>



{% endblock content %}